

body {
    background-color: #1f2937;
    font-family: sans-serif;

}


 
.logo{
font-size: 24px;
color: #f9faf8;
font-weight: bold;
display: flex;
justify-content: start;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    color: #E5E7EB;
}


.header{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 5px;
}