*{
  padding: 0;
  margin: 0;  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-sizing: border-box;
  
}
body {

}

.page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: #1f2937;
    height: 40px;
    width: 100%;
    padding-bottom: 10px;
}

.logo{
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    margin-right: 60px;
}

.links {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    gap: 10px;
}


.hero {
    display: flex;
    justify-content: space-around;
  
    background-color: #1f2937;
    height: 500px;
    width: 100%;
    padding: 0;
    gap: 150px;
    
    
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: ;
    gap: 100px;
}

.hero-text-container {

    display: flex;
    justify-content: center;
}
.hero-text{
   display: flex;
   flex-direction:column;
   justify-content: center;
   height: auto;
   width: 500px;


}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.hero-two {
    font-size: 18px;
    color: #e5e7eb;
    text-wrap: wrap;
}

 button{

 }

 .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    background-color: #737a83;
    color: #e5e7eb;
    border-radius: 5px;

 }
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1f2937;
    height: 40px;
    width: 100%;
    padding-bottom: 10px;
    color: #e5e7eb;
   
}