*{
  padding: 0;
  margin: 0;  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-sizing: border-box;
  
}


.page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    height: 40px;
    width: 100%;
    padding-bottom: 10px;
    padding: 0px 250px;

}

.logo{
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    margin-right: 60px;
}

.links {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    gap: 10px;
}


.hero {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    height: 500px;
    width: 100%;
    padding: 50px 250px;
    justify-content: space-between;
    align-items: center;
    
}

.hero-text{
   display: flex;
   flex-direction: column;
   width: 500px;
   line-height: 1.4;
}

h1 {
    font-size: 48px; 
    font-weight: bolder;
    color: #f9faf8; 
}

.hero-secondary {
    font-size: 18px; 
    color: #e5e7eb; 
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 80px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    border-style: none;
    font-weight: bold;
    font-size: 10x;

}

 .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #737a83;
    color: #e5e7eb;
    border-radius: 5px;
    width: 500px;
    height: 300px;
 }

 .info {
    background-color: #f9faf8;
    padding: 50px 250px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 30px 0;
    text-align: center;
}

.img-row {
    display: flex;
    flex-direction: row;
    
}
.infogroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items horizontally */
    width: 260px; /* Adjust the width as needed */
    margin: 20px auto; /* Center the container horizontally and add margin to the top and bottom */
 }
    


.info-box {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6 ;
  border-radius: 20px;
  margin: 5px;
}

.info-text {
    align-items: center;
    text-align: center;
    overflow-wrap: normal;
    padding: 5px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 50px 250px;
    height: 498px;
}

.quote-container {
    display: flex;
    width: 1000px;
    flex-direction: column;
    justify-content: center;
}

.quote-text {
    overflow-wrap: normal;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin: 10px;

}

h3 {
    display: flex;
    justify-content: end;
}

.cta{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 250px;
    height: 498px;
}

.cta-container {
    background-color: #3882f6;
    width: 1000px;
    height: 200px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: #f9faf8;
    font-size: 18px;
}
.cta-button {
    border: #f9faf8;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1f2937;
    height: 40px;
    width: 100%;
    padding-bottom: 10px;
    color: #e5e7eb;
   
}